/* #clearBtn{
    display: flex;
    margin: 10%;
} */

/* .container{
    justify-content: space-between;
} */

#sketchPad{
    display: grid;
    height: 26em;
    width: 26em;
    position: absolute;
    top: 24%;
    left: 33%;
    /* justify-content: left;
    align-items: center; */
    padding: 0;
}

#form{
    width: 50px;
}
/* .squareDiv{
    height: 16px;
    width: 16px;
    border: solid 1px black;
    background-color: white;
    float: left;
    display: flex;
} */